/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #a69f9f;
  color: #dbe3dc;
}

header {
  background-color: #130808;
  color: #0ebe31;
  padding: 1rem 0;
  text-align: center;
}

header h1 {
  margin-bottom: 0.5rem;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

nav a {
  color: #fff;
  text-decoration: none;
}

main {
  padding: 2rem;
}

.car-listing {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
}

.car-card {
  background-color: #625d5d;
  padding: 1rem;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(237, 233, 233, 0.1);
}

.car-card img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.car-card h2 {
  margin: 1rem 0 0.5rem;
}

.car-card p {
  margin-bottom: 1rem;
}

.car-card button {
  padding: 0.5rem 1rem;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.car-card button:hover {
  background-color: #555;
}

.contact {
  background: #201f1f;
  padding: 40px 20px;
  text-align: center;
}
.about{
    text-align: center;
   display: inline-block;
   border-style: solid;
   border-width: 1px;
   border-color:black;
   margin-top: 50px;
   background-color: #111;
   color: #ccc;
   border-radius: 6px;
   padding: 20px;
   margin-left: 30px;
   margin-bottom:40px;
 }